
.dialog-container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}

.dialog {
    display: block;
    max-width: 80vw;
    max-height: 80vh;
    background: white;
    border: 0;
    border-radius: 1em;
    overflow-x: auto;
}