/// Color Palette

$symdesign-green:       #BDE380;
$dessau-red:            #ec1841;
$athens-gray:           #E5E7EA;
$white-lilac:           #FAFBFD;
$mine-shaft-black:      #000000;
$shark-gray:            #383B42;

$roman-red:             #d9534f;
$tory-blue:             #105ea5;
$fuel-yellow:           #efa72a;
$conifer-green:         #89ED56;



/// Text Color Variables

$color-primary:     $dessau-red;
$color-default:     $shark-gray;

$color-error:       $roman-red;
$color-warning:     $fuel-yellow;
$color-info:        $tory-blue;
$color-success:     $conifer-green;