
$icon:              '';
$sans-serif:        sans-serif;
$serif:             serif;
$monospace:         Menlo, Monaco, Consolas, "Courier New", monospace;

$text-rhythm: (
    normal:         (16px, 28px),
    large:          (24px, 42px),
    small:          (14px, 22px),
    smaller:        (12px, 18px),
    smallest:       (10px, 16px),
    h1:             (36px, 48px),
    h2:             (24px, 36px),
    h3:             (20px, 28px),
    h4:             (18px, 24px),
    h5:             (16px, 24px),
    h6:             (10px, 16px)
);