
@import "controller/mouse-move";
@import "controller/mouse-drag";
@import "controller/touch-drag";
@import "controller/device-orientation";
@import "controller/head-move";

.wakkle-controller-buttons {
    bottom: 0;
    right: 0;
    list-style: none;
}

.wakkle-controller-button {
    display: inline-block;
    padding: 0.5em;
}