
@import 'image/loading';

* {
    pointer-events: none;
}

a, input, button, select, textarea {
    pointer-events: all;
}

img,
wakkle-image {
    width: 100%;
    height: auto;
    backface-visibility: visible;
}