
html,
body {
  background: white;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

[class^="icon-"]:after,
[class*=" icon-"]:after {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Campus-Dessau-UI' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 3.2rem;
    content: "";
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fadeout {
    opacity: 0;
}
  
.fadein {
    opacity: 1;
}