<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>">
    <style>
    * {
        margin: 0;
        padding: 0;
    }
    body {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    wakkle-image {
        width: 50%;
        height: auto;
    }
    </style>
</head>

<body>

    <wakkle-image>

        <img src="<%= require('./images/example.wakkle') %>">
        <!-- Sequence gets loaded here. -->

        <svg><!-- SVG goes here. --></svg>
        
        <canvas><!-- WebGL goes here. --></canvas>

        <object><!-- HTML markup goes here. -->

            <div x='0' y='10' z='0' rotation-x='0' rotation-y='0' rotation-z='0'>
                <h1>Here we go!</h1>
                <p>This is a canvas for html elements.</p>
            </div>
            
        </object>
        
    </wakkle-image>

    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>

    <% for (key in htmlWebpackPlugin.files.js) { %>
	<script src="<%= htmlWebpackPlugin.files.js[key] %>"></script>
    <% } %>

    <script>

        wakkle.init({
            ui: true
        });

    </script>

</body>
</html>