<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <style>
     img {
         object-fit: cover; width: 100%; height: 100%
     }
    </style>
</head>

<body>

    <wakkle-image>

        <img src="<%= require('./images/Richterhaus_1920x1280.wakkle') %>">
        <!-- Sequence gets loaded here. -->

        <svg><!-- SVG goes here. --></svg>
        
        <canvas><!-- WebGL goes here. --></canvas>

        <object><!-- HTML markup goes here. -->

            <div x='0' y='0' z='0' rotation-x='0' rotation-y='0' rotation-z='0' style="transform: translateY(-50%)">
                <h1>Here we go!</h1>
                <p>This is a canvas for html elements.</p>
            </div>
            
        </object>
        
    </wakkle-image>

    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>

    <% for (key in htmlWebpackPlugin.files.js) { %>
	<script src="<%= htmlWebpackPlugin.files.js[key] %>"></script>
    <% } %>

    <script>

        wakkle.init({
            grid: false,
            ui: true
        });

    </script>

</body>
</html>