<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <!--<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>-->
</head>

<body>
    <img src=<%= require('./images/Moments_1920x1080.wakkl.jpg') %> style="object-fit: cover; width: 100%; height: 100%">
</body>

</html>